$color-primary-500: #5583B9;
$color-neutral-800: #233237;
$color-neutral-200: #c0c0c0;
$color-neutral-0: #ffffff;
$input-placeholder-color: #767a7c;
$terms-color: #379bd7;


i:hover {
  cursor: pointer;
}

.font-size {
  font-size: 18px;

  .password-helper {
    font-weight: 400;
    color: $input-placeholder-color;
    font-size: 13px;
  }

  .error-message-font {
    font-size: 13px;
  }
}

.terms_link {
  text-decoration: none;
  color: $terms-color;
}

.title {
  color: $color-neutral-800;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: auto;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 7%;
}

.p-button-danger {
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 3em;
  border-radius: 8px;
}

.create-account-button {
  margin-top: 44px;
  color: $color-neutral-0;
  background: $color-primary-500;
  border: none;
}

.login-button {
  margin-top: 16px;
  color: $color-primary-500;
  background: $color-neutral-0;
  border: solid 1px $color-primary-500;
}
label {
  margin-bottom: 4px;
}
:host ::ng-deep {
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    box-shadow: none;
    background-color: $color-neutral-800;
    border-color: $color-neutral-800;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
    box-shadow: none;
    background-color: $color-neutral-800;
    border-color: $color-neutral-800;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: $color-neutral-800;
  }
  .p-checkbox .p-checkbox-box {
    background-color: $color-neutral-0;
    border-color: $color-neutral-200;
  }
  .p-checkbox .p-checkbox-box:hover {
    box-shadow: none;
    border-color: $color-neutral-800;
  }
  p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
    border-color: $color-neutral-200;
  }
  p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box:hover {
    box-shadow: none;
    border-color: $color-neutral-800;
  }
}
