<form class="w-9 m-auto justify-content-center" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <i class="pi pi-arrow-left" [routerLink]="['/', 'login', 'patient']"></i>

  <h1 class="title">Create Account</h1>

  <div class="field mt-1">
    <label for="email" class="block font-semibold">Email*</label>
    <input
      id="email"
      pInputText
      (input)="changeInvalidStatus('email')"
      class="p-2 w-full main-border-color-focused box-shadow"
      formControlName="email"
    />
    <small
      *ngIf="formGroup.get('email')?.invalid && !validForm && touch['email']"
      id="email-error-message"
      class="p-error block error-message-font"
    >{{ getMailErrorMessage() }}</small
    >
  </div>

  <div class="field mt-1">
    <label for="cnp" class="block font-semibold">CNP*</label>
    <input
      id="cnp"
      pInputText
      (input)="changeInvalidStatus('CNP')"
      class="p-2 w-full main-border-color-focused box-shadow"
      formControlName="CNP"
    />
    <small
      *ngIf="formGroup.get('CNP')?.invalid && !validForm && touch['CNP']"
      id="cnp-error-message"
      class="p-error block error-message-font"
    >{{ getCNPErrorMessage() }}</small
    >
  </div>

  <div class="field mt-1">
    <label for="password" class="block font-semibold">Password*</label>
    <p-password
      inputId="password"
      (input)="changeInvalidStatus('password')"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="p-2 w-full main-border-color-focused box-shadow"
      styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
      formControlName="password"
    ></p-password>
    <small class="password-helper" *ngIf="validForm"
    >Password must contain 8 or more characters and contain at least 1 number.</small
    >
    <small
      id="password-error-message"
      *ngIf="formGroup.get('password')?.invalid && !validForm && touch['password']"
      class="p-error block error-message-font"
    >{{ getPasswordErrorMessage() }}</small
    >
  </div>

  <div class="field mt-1 mb-5">
    <label for="password" class="block font-semibold">Confirm Password*</label>
    <p-password
      inputId="confirmPassword"
      (input)="changeInvalidStatus('confirmPassword')"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="p-2 w-full main-border-color-focused box-shadow"
      styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
      formControlName="confirmPassword"
    ></p-password>
    <small
      *ngIf="(formGroup.get('confirmPassword')?.invalid || formGroup.errors?.['matchPasswords']) && !validForm && touch['confirmPassword']"
      id="confirmPassword-error-message"
      class="p-error block error-message-font"
    >{{ getConfirmMessageError() }}</small
    >
  </div>

  <div class="mt-1">
    <p-checkbox
      name="termsAndConditions"
      [binary]="true"
      value="termsAndConditions"
      inputId="termsAndConditions"
      styleClass="main-color"
      formControlName="termsAndConditions"
    ></p-checkbox>
    <label for="termsAndConditions" class="mx-2 text-sm"
    >I have read and agreed to
      <a [routerLink]="['/terms-of-service']" target="_blank" class="terms_link"
      >Terms of Service</a
      >
      and
      <a [routerLink]="['/privacy-policy']" target="_blank" class="terms_link"
      >Privacy Policy</a
      ></label
    >
    <small
      *ngIf="formGroup.get('termsAndConditions')?.invalid && !validForm"
      id="terms-error-message"
      class="p-error block error-message-font"
    >Please agree to terms and conditions to proceed.</small
    >
  </div>

  <div class="mt-1 button">
    <button mat-flat-button type="submit" class="p-button-danger create-account-button">
      Next Step
    </button>
  </div>

  <div class="mt-1 button">
    <button
      [routerLink]="['/', 'login', 'patient']"
      mat-flat-button
      type="submit"
      class="p-button-danger login-button"
    >
      Login
    </button>
  </div>
</form>
